.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: -webkit-fill-available;
}

.content-page {
  flex: 1 0 auto;
  /*margin-top: 70px;*/
}

/**************************************************************************/

header {
  display: flex;
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: black;
  top: 0;
  justify-content: space-between;
  /*padding-left: 20%;
  padding-right: 20%;*/
}

.logo {
  height: 50px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url('../../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.contest-error-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 450px;
  height: 200px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

/**************************************************************************/

footer {
  height: 130px;
  width: 100%;
  margin-top: 20px;
  background-color: #242424;
  bottom: 0;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}

.footer-line {
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 10px;
  
  color: #F1F1F1;
  flex-wrap: nowrap;
}

.footer-line-title{
margin-bottom: 15px;
font-weight: 600;

}

.footer-line-text > a {
  color: #F1F1F1;
  text-decoration: none;

}

.footer-group {
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer-logo {
  margin-right: 10px;
}