.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: -webkit-fill-available;
}

.content-page {
  flex: 1 0 auto;
  /*margin-top: 70px;*/
}

/**************************************************************************/

footer {
  height: 100px;
  width: 100%;
  margin-top: 20px;
  background-color: #BFBFBF;
  bottom: 0;
  flex: 0 0 auto
}

/**************************************************************************/

header {
  display: flex;
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: black;
  top: 0;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

.logo {
  height: 50px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url('../../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.contest-error-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 450px;
  height: 200px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.footer-line {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 10px;
}

.footer-logo {
  width: auto;
  height: 100%;
  max-height: 20px;
  object-fit: cover;
  margin-right: 5px;
}

.footer-line-text {
  margin: 0;
  margin-left: 5px;
}