.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: -webkit-fill-available;
}

.content-page {
  flex: 1 0 auto;
}

/**************************************************************************/

footer {
  height: 100px;
  width: 100%;
  margin-top: 20px;
  background-color: #BFBFBF;
  bottom: 0;
  flex: 0 0 auto
}

/**************************************************************************/

header {
  display: flex;
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: black;
  top: 0;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

.logo {
  height: 50px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url('../../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}