
.not-open-btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-image: url('../../../img/up-arrow.svg');
}

.not-close-btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-image: url('../../../img/up-arrow.svg');
    transform: rotateZ(180deg);
}

.msg-box {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 30%;
    width: 100%;
    bottom: 0;
    background-color: #fcfcfc;
}

.not-text {
    margin-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    margin-left: 20%;
    margin-right: 20%;
}

.not-panel-align {
    align-items: center;
    justify-content: center;
}
.answer{
    margin: 10px;
    text-align: center;

}
.question{
    margin: 15px;
    text-align: center;
}
.test{

}
.result{
    padding-left: 20%;
    padding-right: 20%;

}

.answer:hover{
    background-color:beige;
}
.answer:active{
    background-color: bisque;
}

.header{
    display: flex;
    justify-content: space-evenly;
}