
.not-open-btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-image: url('../../../img/up-arrow.svg');
}

.not-close-btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-image: url('../../../img/down-arrow.svg');

}

.msg-box {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 30%;
    width: 100%;
    bottom: 0;
    /*border-radius: 5px 5px 0 0;*/
    background-color: #fcfcfc;
}

.not-text {
    margin-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 20%;*/
}

.not-panel-align {
    align-items: center;
    justify-content: center;
}
.answer{
    margin: 10px;
    text-align: center;

}
.question{
    margin: 15px;
    text-align: center;
}
.test{

}
.result{
    padding-left: 20%;
    padding-right: 20%;

}