@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: #fcfcfc;
  font: 400 12px 'Montserrat', sans-serif;
  color: #000000;
}

/**************************************************************************/

.heading1 {
  font: 400 5rem 'Montserrat', sans-serif;
  color: black;
}

.heading2 {
  font: 400 3rem 'Montserrat', sans-serif;
  color: black;
}

.heading3 {
  font: 400 2rem 'Montserrat', sans-serif;
  color: black;
}

.normal-text {
  font: 400 1.75rem 'Montserrat', sans-serif;
  color: black;
}

.option-text-m {
  font: 400 1.34rem 'Montserrat', sans-serif;
  color: black;
}

.option-text-s {
  font: 400 1.17rem 'Montserrat', sans-serif;
  color: black;
}

.small-text {
  font: 400 1rem 'Montserrat', sans-serif;
  color: black;
}

.blck-border {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

/**************************************************************************/

footer {
  height: 100px;
  margin-top: 20px;
  background-color: #BFBFBF;
}

/**************************************************************************/

header {
  display: flex;
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: black;
}

.logo {
  height: 50px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 60px;
  background-image: url('./img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/**************************************************************************/

.main {
  padding-top: 70px;
  background-color: #fcfcfc;
  margin-left: 20%;
  margin-right: 20%;
}

.title {
  margin-top: 40px;
}

.task {
  margin-top: 70px;
}

/**************************************************************************/

.message {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #78d0ff;
  border-radius: 10px;
}

.content-box {}

.time-box {
  display: flex;
  margin-top: 5px;
  justify-content: flex-end;
}

/********************************************/

li {

  margin-left: 10px;
  padding: 2px;
}
ul {
  margin-left: 5px;
}