@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  background-color: #fcfcfc;
  font: 400 12px 'Montserrat', sans-serif;
  color: #000000;

}

html, body {
  height: 100%;
}

/**************************************************************************/

.heading1 {
  font: 400 5rem 'Montserrat', sans-serif;
  color: black;
}

.heading2 {
  font: 400 3rem 'Montserrat', sans-serif;
  color: black;
}

.heading3 {
  font: 400 2rem 'Montserrat', sans-serif;
  color: black;
}

.normal-text {
  font: 400 1.75rem 'Montserrat', sans-serif;
  color: black;
}

.option-text-m {
  font: 400 1.34rem 'Montserrat', sans-serif;
  color: black;
}

.option-text-s {
  font: 400 1.17rem 'Montserrat', sans-serif;
  color: black;
}

.small-text {
  font: 400 1rem 'Montserrat', sans-serif;
  color: black;
}

.blck-border {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

/**************************************************************************/


.main {
  padding-top: 70px;
  background-color: #fcfcfc;
  margin-left: 20%;
  margin-right: 20%;
}

.title {
  margin-top: 40px;
}

.task {
  margin-top: 70px;
}

p{
  margin: 10px;
}

li{
  list-style-position: inside;
  list-style-type: initial;
}

li > p {
  padding-left: 30px;
  margin-top: -25px;
}