
.Auth{
    margin-top: 300px;
    display: flex;
    width: 100%;
    position: relative;
  }
  
  .form-auth{

    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
  }
  input{
    height: 30px;
    border-radius: 4px;
  
  
  }
  .field{
  
    width: 200px;
    margin: 5px;
    padding-left: 5px;
    border-width: 1px;
    border-color: #BFBFBF;
  }
  
  .submit-button{
    margin: 10px;
    width: 100px;
    background-color: #78d0ff;
    margin-left: auto;
    margin-right: auto;
    border: 0;
  
  
  }